.card-movie {
  margin         : 20px 10px;
  box-shadow     : -5px -5px 10px;
  border-radius  : 10px;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
  height         : 315px;

  img {
    border-radius: 10px;
    width        : 100%;
    height       : 225px;
    object-fit   : cover;
  }

  span{
    width: 100%;
    font-style: italic;
    height: 100%;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
  }
}

@media(min-width:425px) {
  .card-movie {
    img {
      height: 250px;
    }
  }
}

@media(min-width:1024px) {
  .card-movie {
    height: 360px;

    img {
      height: 300px;
    }
  }
}