.header-container {
  height         : 430px;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  background     : linear-gradient(to right, #4b6cb7, #182848);

  p {
    font-size: 2rem;
    margin   : 97px 10px 27px 10px;
    color: white;
  }
}