.modal-video {
  width          : 90%;
  margin         : 20px auto;
  height         : 90%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  background     : black;
  border-radius  : 20px;
  position       : absolute;
  top            : 0;
  left           : 0;
  right          : 0;

  &__content {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 100%;
  }

  &__close {
    width     : 100%;
    text-align: end;
    margin    : 20px 0;

    button {
      width        : 60px;
      cursor       : pointer;
      font-size    : 30px;
      background   : none;
      border       : 1px solid white;
      color        : white;
      border-radius: 10px;
      margin       : 0 5px;
      outline      : none;
    }
  }

  &__frame {
    width : 100%;
    height: 500px;
  }
}