.movie-list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 10px;
}

@media(min-width:320px){
  .movie-list{
  grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width:500px){
  .movie-list{
  grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width:650px){
  .movie-list{
  grid-template-columns: repeat(4, 1fr);
  }
}

@media(min-width:860px){
  .movie-list{
  grid-template-columns: repeat(5, 1fr);
  }
}