.movie-info {

  &__bg {
    height  : 700px;
    position: relative;
  }

  &__img {
    width              : 100%;
    height             : 700px;
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
  }

  &__bgblack {
    position  : absolute;
    height    : 700px;
    width     : 100%;
    background: black;
    opacity   : .7;
    top       : 0;
  }

  &__details {
    display              : grid;
    grid-template-columns: 400px 1fr;
    position             : absolute;
    top                  : 0;
    right                : 0;
    left                 : 0;
    bottom               : 0;
    align-content        : center;

    div {
      margin         : 0 10px;
      display        : flex;
      flex-direction : column;
      justify-content: center;
      align-items    : center;
    }
  }

  &__poster {
    width        : 300px;
    border-radius: 20px;
    text-align   : center;
  }

  &__description {
    color: white;
  }

  &__trailerbtn {
    background   : none;
    border       : 1px solid white;
    color        : white;
    border-radius: 10px;
    font-size    : 18pt;
    padding      : 18px 32px;
    cursor       : pointer;
    outline      : none;
    margin       : 20px 0;

    &:hover {
      background: rgba(0, 0, 0, 0.7);
      transition: .3s ease-in-out;
    }
  }

  &__title {
    font-size : 2.2rem;
    text-align: center;
  }

  &__overview {
    text-align: center;
  }
}

.img-poster {
  text-align: center;
}

@media(max-width: 767px) {
  .movie-info__poster {
    width: 250px;
  }

  .movie-info__title {
    font-size: 2rem;
  }
}

@media(max-width: 700px) {
  .movie-info__details {
    display: block;
  }

  .movie-info__img {
    height: inherit;
  }

  .movie-info__bg {
    height: 1000px;
  }
  .movie-info__bgblack{
    height: 1000px;
  }
}

@media(max-width: 424px){
  .movie-info__poster{
    width: 200px;
  }

  .movie-info__title{
    font-size: 1.8rem;
  }
}

@media(max-width: 375px){
  .movie-info__overview{
    font-size: 15px;
  }
}