.navigation-nav {
  height    : 70px;
  background: #032541;
  display   : flex;
  position  : fixed;
  width     : 100%;
  z-index: 1;

  &__ul {
    padding        : 0;
    margin         : 0;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 100%;
    width          : 100%;
  }

  &__li {
    list-style: none;
    margin    : 0 20px;

    a {
      text-decoration: none;
      color          : white;
      font-size      : 16px;
      font-size      : 20px;
      font-weight    : bold;
    }
  }
}

.icono-movil {
  display  : none;
  height   : 100%;
  font-size: 30px;
  color    : white;
}

@media(max-width:767px) {
  .navigation-nav {
    &__ul {
      flex-direction : column;
      background     : #5f2c82;
      background     : -webkit-linear-gradient(to right, #5f2c82, #49a09d);
      background     : linear-gradient(to right, #5f2c82, #49a09d);
      // opacity        : .6;
      height         : 100vh;
      margin-top     : 70px;
      display        : flex;
      justify-content: flex-start;
      width          : 50%;
      align-items    : flex-start;
      position       : fixed;
      left           : -400px;
      transition     : .9s ease-in-out;
    }

    &__li {
      margin: 30px 10px;
    }
  }

  .showMenu {
    flex-direction : column;
    background     : #5f2c82;
    background     : -webkit-linear-gradient(to right, #5f2c82, #49a09d);
    background     : linear-gradient(to right, #5f2c82, #49a09d);
    // opacity        : .9;
    height         : 100vh;
    margin-top     : 70px;
    display        : flex;
    justify-content: flex-start;
    width          : 50%;
    align-items    : flex-start;
    position       : fixed;
    left           : 0 !important;
    transition     : .5s ease-in-out;

  }

  .icono-movil {
    display    : flex;
    cursor     : pointer;
    align-items: center;
    height     : fit-content;
    margin     : 20px 20px;
    outline    : none;
  }
}