.next-page {
  max-width : 768px;
  margin    : 30px auto;
  text-align: center;

  button {
    background   : #032541;
    border       : 1px solid black;
    border-radius: 10px;
    color        : white;
    padding      : 18px 32px;
    margin       : 0 10px;
    font-weight  : bold;
    font-size    : 20px;
    cursor       : pointer;
    outline: none;

    &:hover {
      background: rgb(1, 2, 3);
      transition: .3s ease-in-out;
    }
  }
}