.form-search {
  width     : 90%;
  max-width : 768px;
  margin    : 15px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // align-items: flex-end;

  &__text {
    width  : 50%;
    padding: 10px 15px;
    border : none;
    outline: none;
    font-size: 20px;
    margin: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  &__submit {
    border          : none;
    background     : #5f2c82;
    background     : -webkit-linear-gradient(to right, #5f2c82, #49a09d);
    background     : linear-gradient(to right, #5f2c82, #49a09d);
    color           : white;
    padding         : 11px 15px;
    outline         : none;
    font-size: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
  }
}

.txt-warning{
  text-align: center;
    height: 100vh;
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    right: 0;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
    color: rgb(223, 223, 223);
    background: rgba(0, 0, 0, .8);
    justify-content: center;
}