.spinner {
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.spinner img {
  width: 200px;
  animation: spin .6s ease-in-out infinite;
}