@import './components/navigation.scss';
@import './components/header.scss';
@import './components/search.scss';
@import './components/movielist.scss';
@import './components/cardmovie.scss';
@import './components/movieinfo.scss';
@import './components/nextpage.scss';
@import './components/spinner.scss';
@import './components/modal.scss';

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}
.container{
  max-width: 1300px;
  margin: 0 auto;
}

.title-category{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}